@font-face {
    font-family: "Gilroy Bold";
    src: 
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Regular";
    src: 
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");

    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.15px;
    color: #464646;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    font-size: 1px;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.button {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    color: #000000;

    background: #f0c52e;
}

.main-header {
    padding-top: 21px;
    padding-bottom: 56px;

    color: #000000;
    background: linear-gradient(to bottom, #ffffff 40px, rgba(240,197,46, 0.5) 40px);
}

.wrapper {
    width: 1160px;
    margin: 0 auto;
}

.header-wrapper {
    width: 1040px;
    margin: 0 auto;
}

.half-wrapper,
.container {
    display: flex;
    justify-content: space-between;
}

.half-wrapper {
    width: 500px;
}

.main-header a {
    letter-spacing: 0.15px;
    color: inherit;
}

.main-header p,
.main-footer p {
    margin-top: 0;
    margin-bottom: 0;
}

.main-header ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-header-logo {
    width: 163px;
    height: 35px;
    margin-bottom: 27px;
}

.header-options {
    margin-bottom: 36px;
}

.site-search {
    padding-left: 38px;
}

.search-field {
    padding: 0;

    background-color: transparent;
    border: none;
    opacity: 0.3;
}

.header-sign-in {
    padding-left: 26px;
}

.header-compare {
    padding-left: 20px;
    margin-left: auto;
    margin-right: 38px;
}

.header-cart {
    padding-left: 25px;
}

.main-navigation-item > a {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.main-navigation-item {
    margin-right: -3.6px;
}

ul.half-wrapper li:nth-child(2) {
    margin-right: auto;
    margin-left: 38px;
}

.catalog-navigation {
    display: none;
}

.main-header a:hover,
.search-field:hover {
    opacity: 0.6;
}

.main-header a:active {
    opacity: 0.3;
}

.search-field:focus {
    opacity: 1;
}

.popular-list {
    list-style: none;
}

.popular-slogan {
    line-height: 56px;
    letter-spacing: 0.47px;
}

.popular-slogan,
.section-title {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 47px;
    letter-spacing: 0.47px;
    color: #000000;
}

.popular-features thead {
    font-size: 13px;
    letter-spacing: 0.13px;
}

.popular-features tbody {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 36px;
    letter-spacing: 0.36px;
}

.product-navigation-list {
    list-style: none;
}

.product-navigation-item a {
    font-family: "Gilroy Bold";
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.product-navigation-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-features {
    background-color: #e5e5e5;
}

.site-features-list {
    list-style: none;
}

.famous-brands ul {
    list-style: none;
}

.famous-brands a {
    filter: grayscale(100%);
    opacity: 0.2;
}

.famous-brands a:hover {
    filter: none;
    opacity: 1;
}

.info p {
    width: 485px;
}

.info ul {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #000000;

    list-style: none;
}

.contacts {
    width: 560px;
}

.contact-modal label {
    font-family: "Gilroy Bold";
    font-size: 18px;
    color: #000000;
}

.modal-field {
    font-size: 14px;

    background-color: #f2f2f2;
}

.modal-field:hover {
    background-color: #eaeaea;
}

.modal-field:focus {
    background-color: transparent;
}

.modal-field:invalid {
    background-color: #f6dada;
}

.main-footer {
    padding: 65px 0;

    background-color: #464646;
}

.main-footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-container-left,
.footer-container-middle,
.footer-container-right {
    display: flex;
    flex-direction: column;
}

.footer-container-left {
    width: 360px;
}

.footer-container-middle {
    justify-content: flex-end;
}

.footer-container-right {
    width: 360px;
    align-items: flex-end;
}

.main-footer a {
    color: #ffffff;
}

.main-footer a:hover {
    opacity: 0.6;
}

.main-footer a:active,
.footer-options a:active {
    opacity: 0.3;
}

.footer-options a {
    opacity: 0.7;
}

.footer-options a:hover {
    opacity: 1;
}

.socials-list a {
    opacity: 0.3;
}

.socials-list a:active {
    opacity: 0.1;
}

.main-footer ul {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.main-footer-logo {
    width: 163px;
    height: 35px;
    margin-bottom: 30px;
}

.main-footer address {
    font-style: normal;
    color: #ffffff;
}

.footer-navigation {
    width: 424px;
    margin-bottom: 75px;
}

.socials-list {
    justify-content: space-around;
}

.footer-options {
    width: 325px;
    margin-bottom: 35px;
}

.footer-container-right .footer-tel {
    margin-bottom: 65px;
}

.catalog-wrapper {
    display: flex;

    width: 1100px;
    margin: 0 auto;
    padding-left: 60px;
}

.catalog ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.catalog-header h1 {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 47px;
    color: #000000;
}

.catalog-breadcrumbs {
    justify-content: flex-start;

    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-breadcrumbs li {
    padding-right: 40px;
}

.catalog-breadcrumbs a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1)
}

.catalog-filter form {
    width: 200px;
    padding-right: 68px;

    color: #000000;
    
    background-color: #ebebeb;
}

.filter-header {
    background-color: #d9d9d9;
}

.catalog-caption {
    margin: 0;
    padding: 20px 0;
}

.catalog-caption,
.pagination-button a {
    font-family: "Gilroy Bold";
    font-size: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter legend {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
}

.cost-filter label,
.cost-filter input {
    color: rgba(0, 0, 0, 0.2);
}

.cost-filter input {
    background-color: transparent;
}

.filter label {
    font-size: 14px;
}

.filter input[disabled] + label {
    color: #a6a6a6;
}

.catalog-products {
    width: 760px;
}

.catalog-products-header {
    padding-left: 73px;
}

.catalog-products-header,
.catalog-products-footer {
    background-color: #ebebeb;
}

.catalog-sorting a {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-sorting a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting a:active,
.current-sorting a {
    color: #000000;
}

.product-name a {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    color: #000000;
}

.products-list-item p {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 16px;
    color: #000000;
}

.catalog-products-footer,
.catalog-pagination {
    display: flex;
    justify-content: space-between;
}

.catalog-pagination a {
    font-family: "Gilroy Bold";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-pagination a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-pagination a:active,
.current-page a {
    color: #000000;
}

.pagination-button a:hover {
    background-color: #d9d9d9;
}

.pagination-button a:active {
    color: rgba(0, 0, 0, 0.3);
}