@font-face {
    font-family: "Gilroy Bold";
    src: 
        url("../fonts/gilroyextrabold.woff2") format("woff2"),
        url("../fonts/gilroyextrabold.woff") format("woff");

    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Regular";
    src: 
        url("../fonts/gilroylight.woff2") format("woff2"),
        url("../fonts/gilroylight.woff") format("woff");

    font-weight: 300;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    color: #464646;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    font-size: 1px;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.button {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    letter-spacing: 3.6px;
    color: #000000;

    background-color: #f0c52e;
}

.main-header {
    color: #000000;
    background-color: rgba(240,197,46, 0.5);
}

.main-header-logo a:hover {
    opacity: 0.6;
}

.main-header-logo a:active {
    opacity: 0.3;
}

.main-header a {
    color: inherit;
    letter-spacing: 0.15px;
}

.main-header a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.main-header a:active {
    color: rgba(0, 0, 0, 0.3);
}

.search-field {
    background-color: transparent;
    border: none;
    opacity: 0.3;
}

.search-field:hover {
    opacity: 0.6;
}

.search-field:focus {
    opacity: 1;
}

.main-header ul {
    list-style: none;
}

.main-navigation-item > a {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.popular-list {
    list-style: none;
}

.popular-slogan {
    line-height: 56px;
}

.popular-slogan,
.section-title {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 47px;
    color: #000000;
}

.popular-features thead {
    font-size: 13px;
}

.popular-features tbody {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 36px;
}

.product-navigation-list {
    list-style: none;
}

.product-navigation-item a {
    font-family: "Gilroy Bold";
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.product-navigation-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-features {
    background-color: #e5e5e5;
}

.site-features-list {
    list-style: none;
}

.famous-brands ul {
    list-style: none;
}

.famous-brands a {
    filter: grayscale(100%);
    opacity: 0.2;
}

.famous-brands a:hover {
    filter: none;
    opacity: 1;
}

.info ul {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 16px;
    line-height: 40px;
    color: #000000;

    list-style: none;
}

.contact-modal label {
    font-family: "Gilroy Bold";
    font-size: 18px;
    color: #000000;
}

.modal-field {
    font-size: 14px;

    background-color: #f2f2f2;
}

.modal-field:hover {
    background-color: #eaeaea;
}

.modal-field:focus {
    background-color: transparent;
}

.modal-field:invalid {
    background-color: #f6dada;
}

.main-footer {
    background-color: #464646;
}

.main-footer-logo a:hover,
.htmlacademy-logo a:hover {
    opacity: 0.6;
}

.main-footer-logo a:active,
.htmlacademy-logo a:active {
    opacity: 0.3;
}

.main-footer a {
    color: #ffffff;
}

.user-options a {
    color: rgba(255, 255, 255, 0.7);
}


.location {
    color: #ffffff;
    font-style: normal;
}

.main-footer a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.user-options a:hover {
    color: #ffffff;
}

.main-footer a:active {
    color: rgba(255, 255, 255, 0.3);
}

.socials-list a {
    opacity: 0.3;
}

.socials-list a:hover {
    opacity: 0.6;
}

.socials-list a:active {
    opacity: 0.1;
}

.catalog ul {
    list-style: none;
}

.catalog-header h1 {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 47px;
    color: #000000;
}

.catalog-breadcrumbs,
.catalog-breadcrumbs a {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-breadcrumbs a:active {
    color: rgba(0, 0, 0, 0.1)
}

.catalog-filter {
    color: #000000;
    
    background-color: #ebebeb;
}

.filter-header {
    background-color: #d9d9d9;
}

.catalog-caption,
.pagination-button a {
    font-family: "Gilroy Bold";
    font-size: 16px;
    letter-spacing: 3.2px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-filter legend {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
}

.cost-filter label,
.cost-filter input {
    color: rgba(0, 0, 0, 0.2);
}

.cost-filter input {
    background-color: transparent;
}

.filter label {
    font-size: 14px;
}

.filter input[disabled] + label {
    color: #a6a6a6;
}

.catalog-products-header,
.catalog-products-footer {
    background-color: #ebebeb;
}

.catalog-sorting a {
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-sorting a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-sorting a:active,
.current-sorting a {
    color: #000000;
}

.product-name a {
    font-family: "Gilroy Bold", sans-serif;
    font-size: 18px;
    color: #000000;
}

.products-list-item p {
    font-family: "Gilroy Regular", sans-serif;
    font-size: 16px;
    color: #000000;
}

.catalog-pagination a {
    font-family: "Gilroy Bold";
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.catalog-pagination a:hover {
    color: rgba(0, 0, 0, 0.6);
}

.catalog-pagination a:active,
.current-page a {
    color: #000000;
}

.pagination-button a:hover {
    background-color: #d9d9d9;
}

.pagination-button a:active {
    color: rgba(0, 0, 0, 0.3);
}